


#title {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
}


body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    font-size:
    line-height:
    color: #000;
    background-color:
}

strong,
.text-strong {
  font-weight: 500;
}

a {
  color: #000;

}

a:hover {
  color: #000;
  font-weight: 500;
  text-decoration: none;

}

#accordion {
  text-align: center;
}

.card {
  border: none;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(253, 253, 255, 0);
  border-bottom: 0px  rgba(253, 253, 255, 0);
}
